/* Course: SENG 513 */
/* Date: OCT 16, 2023 */
/* Assignment 1 */
/* Name: Arne Jarred Michael Hilao */
/* UCID: 30069573 */

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 60vw 35vw;
    grid-template-areas: 
    'header header'
    'player2 moves'
    'main moves'
    'player1 moves';
    background-color: #363636;
    column-gap: 5vw;
    color: #f9f9f9;
}

header {
    grid-area: header;
    display: flex;
    background-color: #232323;
    height: 50px;
    margin-bottom: 15px;
    font-size: 32px;
}

#timer {
    margin-left: 15vw;
    width: 40vw;
}

#score {
    margin-left: 10vw;
}

#player2 {
    grid-area: player2;
    margin-bottom: 10px;
    margin-left: 15vw;
}

main {
    grid-area: main;
    width: 40vw;
    height: 40vw;
    margin-left: 15vw;
}

#player1 {
    grid-area: player1;
    margin-top: 10px;
    margin-left: 15vw;
}

.moves {
    background-color: #242424;
    width: calc(30vw - 30px);
    padding: 15px;
    grid-area: moves;
    /*border: 5px solid #111;*/
}

.player_info {
    background-color: #232323;
    height: 45px;
    width: calc(40vw - 20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.white {
    float: left;
    width: 5vw;
    height: 5vw;
    background-color: #f0d9d9;
}

.black {
    float: left;
    width: 5vw;
    height: 5vw;
    background-color: #b48767;
}

#timer {
    display: flex;
    gap: 10px;
}

.player {
    display: flex;
    flex-direction: column;
}

.timer_container {
    display: flex;
    margin: 0 auto;
    color: #000000;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.timer_digits {
    font-size: 2rem;
    font-weight: bold;
}